.carousel-images{
    background-position: center top;
    background-size:cover;
    height:600px;
}
.image1{
    background-image: url('../../../assets/img/bannerimg1.avif');
}
 .image2{
    background-image: url('../../../assets/img/bannerimg2.avif');
}

.image3{
    background-image: url('../../../assets/img/bannerimg3.avif');
} 
.StepBox{
    text-align: center;
    background-color: #495057;
    margin:1rem;
    border-radius: 10px;
    color: #f8f9fa;
    padding: 0.5rem;
    box-shadow: 0 0.5rem 0.5rem #f8f9fa;
}
.FoodItemContainer img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
