<div class="container">
    <h1 class="text-center">Clouds Kitchen</h1>
    <h3 class="text-center mb-5">One Stop Destination for all the foodies</h3>
    <h6>Wheather you are craving for a late-night light snack or an early morning healthy breakfast options, we are here to solve your problem</h6>
    <h6>Wanna have some amazing cheesy lunch options to savouir yourself or just want to keep it simple, we have everything in.</h6>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est accusantium voluptates, deserunt sit ipsam corrupti quam illum blanditiis reiciendis, modi commodi deleniti aliquam cupiditate dolorem doloremque voluptatibus voluptatum quod culpa? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita atque, consequatur itaque nisi eius, minus quo hic accusantium libero impedit aperiam delectus repellendus autem quod veniam magni iure animi eligendi!</p>
</div>
