<div class="container my-5">
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="name" class="form-label">Full Name</label>
        <input formControlName="name" name="name" type="text" placeholder="Enter your full name " class="form-control" id="name" >
        <span class="text-danger" *ngIf="myForm.get('name')?.errors?.required && (myForm.get('name').dirty || myForm.get('name').touched)">
            Please provide a name.
        </span>
        <span class="text-danger" *ngIf="myForm.get('name')?.errors?.pattern && (myForm.get('name').dirty || myForm.get('name').touched)">
            Name should contain only characters
        </span>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input formControlName="email" name="email" type="email" placeholder="Enter your email address" class="form-control" id="email">
        <span class="text-danger" *ngIf="myForm.get('email')?.errors?.required && (myForm.get('email').dirty || myForm.get('email').touched)">
            Please provide a email address.
        </span>
        <span class="text-danger" *ngIf="myForm.get('email')?.errors?.pattern && (myForm.get('email').dirty || myForm.get('email').touched)">
            Enter valid email address.
        </span>
    </div>
    <div class="mb-3">
        <label for="Message" class="form-label">Message</label>
        <input type="text" formControlName="Message" name="Message" placeholder="Enter Your Message" class="form-control" id="Message">
        <span class="text-danger" *ngIf="myForm.get('Message')?.invalid && (myForm.get('Message').dirty || myForm.get('Message').touched)">
            Message is required 
        </span>
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <textarea class="form-control" name="Description" formControlName="Description" id="Description" rows="3"></textarea>
      </div>      
    <button type="submit" class="btn btn-outline-success" [disabled]="myForm.invalid">Submit</button>
</form>
</div>