<form class="container" (ngSubmit)="AddToDo()">
<div class="mb-3 " >
    <label for="title" class="form-label">Title</label>
    <input type="text" [(ngModel)]="title" class="form-control" id="title" name="title" name="title" placeholder="Enter title">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea [(ngModel)]="description" class="form-control" name="description" id="description" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-outline-primary">Add</button>
</form>
